<p id="notice"><%= notice %></p>

<div class="card">
  <div class="card-body">
    <h2 class="card-title">Section</h2>

    <p class="card-text">
      <strong>Location:</strong>
      <%= @section.location %>
    </p>

    <p class="card-text">
      <strong>Title:</strong>
      <%= @section.title %>
    </p>

    <p class="card-text">
      <strong>Visible:</strong>
      <%= @section.visible %>
    </p>

    <p class="card-text">
      <strong>Position:</strong>
      <%= @section.position %>
    </p>

    <%= link_to 'Edit', edit_section_path(@section), class: "btn btn-primary" %> |
    <%= link_to 'Back', sections_path, class: "btn btn-primary"%>
  </div>
</div>
