<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <form>

    <div class="mb-3">
      <label for="titleInput" class="form-label"><%= form.label :title %></label>
      <%= form.text_field :title, class: "form-control", id: "titleInput"  %>
    </div>

    <div class="mb-3">
      <label for="detailsInput" class="form-label"><%= form.label :details %></label>
      <%= form.text_area :details, class: "form-control tinymce", id: "detailsInput", rows: "3"  %>
      <%= tinymce %>
    </div>

    <div class="mb-3">
      <label for="photoInput" class="form-label"><%= form.label :photo %></label>
      <%= form.file_field :photo, class: "form-control", id: "photoInput" %>
    </div>

    <div class="mb-3">
      <%= form.submit class: "btn btn-primary"%>
    </div>

  </form>
<% end %>
