<%= form_with(model: sponsor) do |form| %>
  <% if sponsor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sponsor.errors.count, "error") %> prohibited this sponsor from being saved:</h2>

      <ul>
        <% sponsor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <form>

    <div class="mb-3">
      <label for="titleInput" class="form-label"><%= form.label :title %></label>
      <%= form.text_field :title, class: "form-control", id: "titleInput"  %>
    </div>

    <div class="mb-3">
      <label for="websiteInput" class="form-label"><%= form.label :website %></label>
      <%= form.text_field :website, class: "form-control", id: "websiteInput"  %>
    </div>

    <div class="mb-3">
      <%= form.submit class: "btn btn-primary"%>
    </div>

  </form>

<% end %>
