<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-body">
    <h2 class="card-title">Page</h2>

    <p class="card-text">
      <strong>Title:</strong>
      <%= @page.title %>
    </p>

    <p class="card-text">
      <strong>Section:</strong>
      <%= @page.section_id %>
    </p>

    <p class="card-text">
      <strong>Page type:</strong>
      <%= @page.page_type %>
    </p>

    <p class="card-text">
      <strong>Permalink:</strong>
      <%= @page.permalink %>
    </p>

    <p class="card-text">
      <strong>Visible:</strong>
      <%= @page.visible %>
    </p>

    <p class="card-text">
      <strong>Position:</strong>
      <%= @page.position %>
    </p>

    <p class="card-text">
      <strong>Content:</strong>
      <%= @page.content %>
    </p>

    <%= link_to 'Edit', edit_page_path(@page), class: "btn btn-primary" %> |
    <%= link_to 'Back', pages_path, class: "btn btn-primary" %>
  </div>
</div>
