<p id="notice"><%= notice %></p>

<div class="card">
  <div class="card-body">
    <h2 class="card-title">Album</h2>

    <p class="card-text">
      <strong>Title:</strong>
      <%= @album.title %>
    </p>

    <p class="card-text">
      <strong>Description:</strong>
      <%= @album.description %>
    </p>

    <%= link_to 'Edit', edit_album_path(@album), class: "btn btn-primary"  %> |
    <%= link_to 'Back', albums_path, class: "btn btn-primary"  %>
  </div>
</div>