<%= form_with(model: photo) do |form| %>
  <% if photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
        <% photo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <form>

    <div class="mb-3">
      <label for="album_idInput" class="form-label"><%= form.label :album_id %></label>
      <%= form.number_field :album_id, class: "form-control", id: "album_idInput"%>
    </div>

    <div class="mb-3">
      <label for="titleInput" class="form-label"><%= form.label :title %></label>
      <%= form.text_field :title, class: "form-control", id: "titleInput"  %>
    </div>

    <div class="mb-3">
      <label for="photoInput" class="form-label"><%= form.label :photo %></label>
      <%= form.file_field :photo, class: "form-control", id: "photoInput" %>
    </div>

    <div class="mb-3">
      <label for="descriptionInput" class="form-label"><%= form.label :description %></label>
      <%= form.text_area :description, class: "form-control tinymce", id: "descriptionInput", rows: "3"  %>
      <%= tinymce %>
    </div>

    <div class="mb-3">
      <%= form.submit class: "btn btn-primary"%>
    </div>
    
  </form>

<% end %>
