<div class="row text-center">
  <% @albums.each do |album| %>

    <div class="col-3">
      <div class="row">
        <% if album.photos.length() > 0 %>
          <% if album.photos.first.photo.attached? %>
            <%= image_tag album.photos.first.photo %>
          <% else %>
            <%= image_tag "SampleAlbumPhoto.png" %>
          <% end %>
        <% else %>
          <%= image_tag "SampleAlbumPhoto.png" %>
        <% end %>
      </div>
      <div class="row">
        <h1><%= link_to album.title, site_photos_path(id: album.id), class: "dropdown-item" %></h1>
      </div>
    </div>

  <% end %>
</div>
<%= render 'sponsors' %>