<!DOCTYPE html>
<html>
  <head>
    <title>HarmonyClubOfWorcester</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= tinymce_assets %>
    <script type="text/javascript" src="/assets/tinymce.js"></script>

  </head>

  <body style="background-color: #021f2f;">

    <nav class="navbar navbar-expand-lg navbar-dark align-text-middle" style="background-color: #c52f24;">
      <div class="container">
        <h1 class="navbar-brand m-0" href="#">
          <%= image_tag "harmonyClubLogo.png",class: "d-inline-block", size: "50", alt: "..." %>
          Harmony Club of Worcester
        </h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">

            <% @sections.each do |e| %>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <%= e.title %>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <% e.pages.each do |p| %>

                    <% if p.page_type == "Basic Page" %>

                      <li><%= link_to p.title, site_page_path(page.id), class: "dropdown-item" %></li>

                    <% else %>

                      <li><%= link_to p.title, p.content, class: "dropdown-item" %></li>

                    <% end %>

                  <% end %>
                </ul>
              </li>
            <% end %>
            
            <!-- Crud Controllers -->

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                CRUD
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                <li>
                  <%= link_to "Sections", sections_path, class: "dropdown-item" %>
                </li>

                <li>
                  <%= link_to "Pages", pages_path, class: "dropdown-item" %>
                </li>

                <li>
                  <%= link_to "Events", events_path, class: "dropdown-item"  %>
                </li>

                <li>
                  <%= link_to "Albums", albums_path, class: "dropdown-item" %>
                </li>

                <li>
                  <%= link_to "Photos", photos_path, class: "dropdown-item" %>
                </li>

                <li>
                  <%= link_to "Sponsors", sponsors_path, class: "dropdown-item" %>
                </li>

              </ul>
            </li>



          </ul>
        </div>
      </div>
    </nav>
    <div class = "container p-3" style="background-color: #ffffff;">
      <%= yield %>
    </div>

    <div class="container">
      <div class="row row-cols-2">
        <div class="col">Column</div>
        <div class="col">Column</div>
        <div class="col">Column</div>
        <div class="col">Column</div>
      </div>
    </div>
    
  </body>
</html>
